.load{
    display: none;
    text-align: center;
    justify-content: center;
    z-index: 1;
    position: fixed;
    padding: 5em 0em 5em 0em ;
    background-color: rgba(252, 250, 250, 0.781);
    border-radius: 5%;
  }

  .statictical{
    font-size: 18px;
    color: white;
    border-radius: 5px;
    border: 1px solid #fff;
    font-weight: bold;
  }
  .statictical td{
    padding: 15px;
  }

  .statictical th{
    padding: 15px;
  }