@media only screen and (max-width: 768px) {
  #menu-it{
    display: none;
  }
}

.modal-reg{
  position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    z-index: 1030;
    display: none;
    background-color: #ECEFF1;
    border: 1px solid #212529;
    border-radius: 10px;
    box-shadow: 0 1px 15px 5px rgba(0,0,0,.16);
    /* outline: 0; */
    
    
}

.modal-regb{
  position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #ECEFF1;
    border: 1px solid #212529;
    border-radius: 10px;
    box-shadow: 0 1px 15px 5px rgba(0,0,0,.16);
    /* outline: 0; */
    
    
}
.load{
  display: none;
  text-align: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  padding: 5%;
  border-radius: 2em;

}

/* Trafic Start */
.trafic{
  display: flex;
  justify-content: center;
}
.trafic-top{
  margin-top: 10em;
}
/* Trafic End */
/* Include Form Start*/
.inc{display: none;}
/* Include Form End*/


.upload input {
	display: none;
}

.upload label {
	margin: 10px auto;
	border-radius: 20px;
	font-weight: bold;
	font-size: 15px;
}

.kirim {
	margin: 0 auto;
}

.kirim button {
	border-radius: 30px;
}

h1 {
	font-weight: bold;
}

.form h1 {
	color: #2A5184;
}

label {
	font-size: 15px;
	font-weight: bold;
}

.daftar a {
    border-radius: 40px;
    text-align: center;
}

.warning {
  font-weight: bold;
  color: red;
  border: 1px solid red;
  padding: 10px 0;
  font-size: 16px;
  font-family: monospace;
}

.errorval {
	color: red;
	font-size: 15px;
}

.errorRegis {
	color: red;
	font-size: 15px;
}

.hidden {
  opacity:0;
}



nav img {
	width: 80px;
}

.daftar {
  border-radius: 40px;
  padding: 10px 30px;
}

.header {
	background-color: #2A5184;
	color: #fff;
}

.header img {
	width: 100%
}

.console-container {
  font-family:monospace;
  font-size:4em;
  text-align:center;
  width:100%;
  display:block;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.logo {
  position: absolute;
}

.logo h1 {
  position: relative;
  display: block;
  -webkit-animation: fadeIn 1.5s linear;
          animation: fadeIn 1.5s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.syarat ul {
  position: absolute;
}

.syarat li:hover {
  margin: 5px 30px;
  cursor: pointer;
}

.syarat li {
  font-size: 17px;
  margin: 5px 0;
  position: relative;
  display: block;
  font-weight: bold;
  -webkit-animation: fadeIn 1.5s linear;
          animation: fadeIn 1.5s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.syarat h4 {
  font-family: monospace;
  font-size: 25px;
}

.syarat li:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.syarat li:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.syarat li:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.syarat li:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.syarat li:nth-child(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.syarat li:nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.syarat li:nth-child(7) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.syarat li:nth-child(8) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.syarat li:nth-child(9) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

.syarat li:nth-child(10) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

.header {
  color: #212529;
   background-color: #fff;
}
.alink{
  cursor: pointer;
  color: blue;
}

.terms2 {
  color: #212529;
  background-color: #ECEFF1;
  box-shadow: 0 1px 15px 5px rgba(0,0,0,.16);
}
.terms2bor{
  border: 1px solid #212529;
  border-radius: 5px;
  box-shadow: 0 1px 15px 5px rgba(0,0,0,.16);
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Terms */
.terms{
  display: show;
}
/* Register */
.register{
  display: none;
}


.rupdate{
	margin: 15px 0px 0px 0px;
    text-align: center;
}

/* TWBS */

.navbar {
  background-color: #DC3545;
  box-shadow: 0 1px 4px 2px rgba(0,0,0,.16);
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #00ffff;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-text a {
  color: #00ffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #00ffff; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #00ffff;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #23a6d5;
  border-color: #1f92bb;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #00ffff;
  background-color: #1f92bb;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #1f92bb;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #00ffff;
  background-color: #1f92bb;
}
.navbar .navbar-toggle {
  border-color: #1f92bb;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #1f92bb;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #00ffff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00ffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #00ffff;
    background-color: #1f92bb;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00ffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #00ffff;
    background-color: #1f92bb;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00ffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #00ffff;
    background-color: #1f92bb;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00ffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #00ffff;
    background-color: #1f92bb;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #00ffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #00ffff;
  background-color: #1f92bb;
}